#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

.container_login{
    width: 500px;
    height: 450px;
    background-color: rgb(84, 133, 134);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
  }
  
.caixa{
    width: 350px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: rgb(247, 247, 247);
    margin-top: 25px;
    padding: 5px;
  }

  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color:#174d4d ;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
    color:rgb(255, 255, 255);
    margin-top: -10px;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #ffffff;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-top: 25px;
  }