*{
  color: #fff;
  
}

.container_home {
  background-color: rgb(225, 225, 225);
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 50%; 
  transform: translate(-50%, -50%); 
  border-radius: 5px;
  padding: 20px;
}


.campos{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.icons{
  display: flex;
  flex-direction: row;
}

tr{
  display: flex;
  justify-content: space-between;
}

.col1{
  width: 25px;
  cursor: pointer;
}
.col2{
  width: 25px;
  cursor: pointer;
}
.col3{
  width: 35px;
}
.col4{
  width: 130px;
}
.col5{
  width: 200px;
}
.col6{
  width: 200px;
}
.col7{
  width: 150px;
}

.col8{
  width: 25px;
}

.footer_table{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(80, 86, 86);
  width: 90%;
  height: 50px;
  border-radius: 10px;
}
.btn1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  margin-left: 10px;
}


.btn2{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  margin-right: 10px;
}

.id{
  width: 30px;
}

.id input{
  width: 30px;
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
}
.nome input{
  width: 300px;
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;

}